<main class="main-content pagina_interior">
  <div class="container mt-3">
    <h1 class="titulo">Mis Fichas</h1>
    <div class="d-flex justify-content-end mb-3">
      <a class="btn btn-primary" [routerLink]="['/receptores/crear-ficha']">Crear Ficha</a>
    </div>

    <table id="misFichas" class="table cell-border compact table-striped" *ngIf="fichasUsuario.length > 0">
      <thead>
        <tr>
          <th>RUT</th>
          <th>Razón Social</th>
          <th>Región</th>
          <th>Tipo de Empresa</th>
          <th>Representante Legal</th>
          <th>Contacto</th>
          <th>Fecha Certif.</th>
          <th>Revisar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of fichasUsuario">
          <td><button class="btn btn-link p-0" (click)="seleccionarPersona(p)">{{ p.rut }}</button></td>
          <td>{{ p.nombre_razon_social }}</td>
          <td>{{ p.id_region_tramitacion }}</td>
          <td>{{ p.tipo_empresa }}</td>
          <td>{{ p.otorgado_por }}</td>
          <td>{{ p.correo }}</td>
          <td>{{ p.fecha_otorgamiento }}</td>
          <td><a (click)="seleccionarPersona(p)">Revisar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
