<div class="container text-center">
    <nav class="menu d-flex justify-content-center">
      <a [routerLink]="'/receptores/datosempresa'" class="nav-link" routerLinkActive="active">Datos Empresa</a>
      <a [routerLink]="'/receptores/ubicacioncontacto'" class="nav-link" routerLinkActive="active">Ubicación/Contacto</a>
      <a [routerLink]="'/receptores/directorioficha'" class="nav-link" routerLinkActive="active">Directorio</a>
      <a [routerLink]="'/receptores/estadoFicha'" class="nav-link" routerLinkActive="active">Estado Ficha</a> 
      <a [routerLink]="'/receptores/certificado'" class="nav-link" routerLinkActive="active">Certificado</a> 
    </nav>
      <div class="underline"
           [style.left]="activeTab === 'Datos Empresa' ? '0%' : 
                         activeTab === 'Ubicación/Contacto' ? '25%' : 
                         activeTab === 'Directorio' ? '50%' : '75%'">
      </div>
    </div>
    